.contenedor_rosa{
        width: 800px;
        height: 400px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}

h1{
        font-family: 'Sacramento', cursive;
        color: #FE7696;
        font-size: 34px;
}

.texto2{
        width: 600px;
        height: 400px;
        display: inline-block;
}

.rosa{
        width: 273px;
        height: 336px;
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        display: inline-block;
        animation: yidon 5s infinite;
        transform: translateY(40%);       
}

.petalo{
        width: 50px;
        height: 50px;
        background: #fe7696;
        border-radius: 0px 50%;
        position: absolute;
        box-shadow: 0 0 10px #D1123F;
        z-index: 2;
        transform-origin: bottom right; 
        animation: zhankai2 10s infinite;
        left: 135px;
        top: -20px;
        
}

.petalo:nth-child(2){
        transform-origin: right bottom;
        transform: rotate(90deg);
        background: #fe7696;
        left: 130px;
        top: -20px;
        animation: zhankai1 10s infinite;
}

.petalo:nth-child(3){
        width: 40px;
        height: 40px;
        left: 150px;
        top: -40px;
        z-index: 1;
        background: #f03a64;
        transform-origin: bottom right; 
        animation: zhankai2 10s infinite;
}

.petalo:nth-child(4){
        transform: rotate(90deg);
        width: 40px;
        height: 40px;
        left: 140px;
        top: -35px;
        z-index: 1;
        background: #f03a64;
        transform-origin: bottom right; 
        animation: zhankai1 10s infinite;
}


.petalo:nth-child(5){
        width: 50px;
        height: 50px;
        border-radius: 20px;
        left: 165px;
        top: -45px;
        z-index: 0;
        background: #d1123f;
        
}

.petalo:nth-child(6){
        transform: rotate(90deg);
        width: 50px;
        height: 40px;
        left: 138px;
        top: -20px;
        z-index: 1;
        background: #f03a64;
        transform-origin: bottom right; 
        animation: zhankai1 10s infinite;
}

.petalo:nth-child(7){
        width: 50px;
        height: 40px;
        left: 140px;
        top: -28px;
        z-index: 1;
        background: #f03a64;
        transform-origin: bottom right; 
        animation: zhankai2 10s infinite;
}


.hoja{
        position: absolute;
        left: 23px;
        top: 60px;
}

.tallo{
        width: 120px;
        height: 20px;
        margin-left: 75px;
        display: flex;
        align-items: center;
        align-self: center;
        background: transparent;
        border: 8px solid #8ac78a;
        border-color: #77a377 transparent transparent transparent;
        border-radius: 50% 50%;
        transform: rotate(100deg);
}

.hojas{
        width: 50px;
        height: 50px;
        border-radius: 0px 50%;
        background: #77a377;
        position: absolute;
        top: 0;
        left: 100px;
        z-index: 49;
}

.hojas:nth-child(2){
        width: 40px;
        height: 20px;
        top: 40px;
        left: 140px;
        transform: rotate(120deg);
}

@keyframes yidon{
        50%{
            transform: translateY(35%);
    }
        100%{
            transform: translateY(40%);
        }
    }

    @keyframes zhankai1{
        50%{
            transform: rotate(100deg);
        }
        100%{
            transform: rotate(80deg);
        }
    }

    @keyframes zhankai2{
        50%{
            transform: rotate(-10deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }




